* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-weight: 400;
  font-size: 35px;
}

.hero {
  background-color: #fff;
}

.subpage {
  background: #fff;
}

.body {
  background: #fff;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  width: 100%;
}

.column {
  flex: 1;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Hero */
.hero-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.sign-up {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 64px;
  max-width: 622px;
}

.sign-up input {
  margin: 12px 0;
  height: 40px;
  font-size: 15px;
  padding: 8px 14px;
  flex-grow: 1;
  width: 100%;
}

.sign-up input:first-child {
  margin-right: 20px;
}

.sign-up input:nth-child(4) {
  margin-bottom: 24px;
}

.hero-background {
  background: url(../img/image_3.png) center/cover no-repeat;
}

/* Header */
.header {
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-actions {
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-menu {
  margin: 0 50px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.header-menu:last-child {
  margin-right: 0;
}

.header-menu li {
  height: 40px;
  padding: 0 20px;
}

.header-menu li a {
  display: block;
  padding: 10px 0;
  font-size: 15px;
  color: #18a0fb;
}

.header-menu li a:hover {
  color: #5dbcfc;
}

.header-menu li:last-child {
  padding-right: 0;
}

.header-menu-right {
  justify-content: flex-end;
}

.header-menu-left {
  justify-content: flex-start;
}

/* nav logo */
.logo {
  max-width: 122px;
  max-height: 32px;
}

.logo img {
  width: 100%;
  height: 100%;
}

/* buttons */
.btn {
  border-radius: 6px;
  width: 130px;
  min-height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-subpage-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-absolute-center-small {
  position: absolute;
  left: 49%;
  top: 49%;
  transform: translate(-50%, -50%);
}

.btn-primary {
  background-color: #18a0fb;
  color: #fff;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.btn-primary:hover {
  background-color: #fff;
  color: #18a0fb;
  border: solid 1px #18a0fb;
}

.btn-secondary {
  background-color: #fff;
  color: #18a0fb;
  border: 1px solid #18a0fb;
  margin-right: 12px;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background: #18a0fb;
  color: #fff;
}

.btn-play {
  background: url(../img/btn_play.png) center/contain no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.btn-play-small {
  background: url(../img/btn_play_small.png) center/contain no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

/* titles */
.hero-heading {
  margin-bottom: 40px;
  max-width: 450px;
}

.hero-heading-bottom {
  margin-bottom: 40px;
  max-width: 100%;
  text-align: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.hero-title-left {
  padding-right: 80px;
}

.hero-title-right {
  padding-left: 80px;
}

.hero-title-end {
  justify-content: flex-end;
  height: auto;
}

.hero-title-top {
  justify-content: center;
  height: 60vh;
  max-width: 1352px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.hero-title-bottom {
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 100px;
  margin: 0 auto;
}

.sign-up-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* images */
.hero-img {
  height: 100vh;
  position: relative;
}

.hero-img-bottom {
  height: auto;
}

.hero-preview-img {
  max-width: 290px;
  max-height: 210px;
  height: auto;
  margin: 40px 0;
}

.hero-preview-img img {
  width: 100%;
  height: 100%;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.hero-bottom-img img {
  width: 100%;
  height: 100%;
}

.space {
  height: 30px;
  background-color: #e9e3e3ee;
}

.subpage-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}

.subpage-title-top {
  max-width: 1352px;
  margin: 0 auto;
  padding: 100px 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.subpage-title-right {
  padding-left: 80px;
}

.subpage-title-left {
  padding-right: 80px;
}

.subpage-img {
  padding: 80px 0;
  position: relative;
}

.subpage-img-bottom {
  padding: 0;
}

.subpage-img img {
  width: 100%;
  height: 100%;
}

.subpage-heading {
  max-width: 490px;
}

.subpage-background {
  background: url(../img/subpage_img_3.png) center/cover no-repeat;
}

.subpage-title-height {
  height: 600px;
}

.body-title {
  max-width: 800px;
  padding: 30px 0;
}

.body-title-center {
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px 80px 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.body-title-left {
  max-width: 1100px;
  padding: 120px 80px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.body-header {
  font-size: 42px;
}

.body-slogan {
  font-size: 32px;
  padding: 30px 0;
}

.body-slogan-left {
  text-align: start;
}

.body-content-nowrap {
  flex-wrap: nowrap;
}

.body-item {
  padding-bottom: 60px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-item-preview {
  max-width: 600px;
  padding: 0 40px 20px 0px;
}

.body-item-third {
  max-width: 33.3%;
  padding-right: 40px;
}

.body-text {
  flex-grow: 1;
}

.body-text-right {
  padding-left: 80px;
}

.body-text-left {
  padding-right: 80px;
}

.body-text-preview {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-top: none;
  padding: 30px 15px 15px;
}

.body-paragraph-border {
  border-bottom: #000 1px solid;
}

.body-subtitle {
  font-weight: 700;
  font-size: 21px;
}

.body-paragraph {
  padding: 24px 0;
  font-size: 16px;
  line-height: 25px;
}

.body-subparagraph {
  padding: 32px 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.body-img {
  padding: 80px 0;
}

.body-img-large {
  padding: 20px 0;
}

.body-img-preview {
  padding: 0px;
}

.body-img img {
  width: 100%;
  height: 100%;
}

.body-ellipse {
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

.body-ellipse-medium {
  height: 108px;
  width: 108px;
  margin-bottom: 40px;
}

.body-ellipse-small {
  width: 44px;
  height: 44px;
  margin-right: 20px;
  margin-bottom: 0;
}

.body-features {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.body-features li {
  display: flex;
  padding: 16px 0;
  align-items: center;
}

.body-link {
  color: rgba(24, 160, 251, 1);
  font-weight: 700;
  font-size: 16px;
}

.hero-bg-right {
  background: url(../img/image.png) right/50% no-repeat;
}

.hero-bg-left {
  background: url(../img/image.png) left/50% no-repeat;
}

.hero-bg-bottom {
  background: url(../img/image_2.png) bottom/100% no-repeat;
}

.hero-bg-right-btn {
  background: url(../img/hero_image.png) right/50% no-repeat;
}

/* media queries */
@media (max-width: 939px) {
  .header {
    height: auto;
    padding: 20px 0;
  }
  .row {
    flex-direction: column;
  }

  .header-menu {
    margin: 0;
  }

  .header-menu-right,
  .header-menu-left {
    justify-content: center;
  }

  .header-menu li:last-child {
    padding-right: 20px;
  }

  .header-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .btn {
    margin: 5px;
  }

  .btn-absolute-center {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }

  .hero-bg-right,
  .hero-bg-left {
    background: url(../img/image.png) center/ cover no-repeat;
  }

  .hero-title {
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    height: 70vh;
  }

  .hero-title-top {
    padding: 1rem;
    height: 50vh;
  }

  .hero-title-bottom {
    justify-content: flex-end;
    padding: 100px 0;
  }

  .hero-heading {
    text-align: center;
    margin-bottom: 10px;
    max-width: none;
  }

  .hero-title-sign-up {
    height: auto;
  }

  .sign-up {
    margin: 40px 0;
    padding: 32px;
    width: 600px;
  }

  .sign-up input:first-child {
    margin-right: 0;
  }

  .hero-bg-right-btn {
    background: url(../img/image.png) center/ cover no-repeat;
  }

  .hero-preview {
    align-items: center;
  }

  .subpage-title {
    padding: 1rem;
  }

  .subpage-heading,
  .body-title {
    text-align: center;
  }

  .subpage-img {
    padding: 40px 0;
  }

  .row-reverse {
    flex-direction: column-reverse;
  }

  .body-text-left,
  .body-text-right {
    text-align: center;
    padding: 20px 50px 0 50px;
  }

  .body-img {
    padding: 0 0 20px 0;
  }

  .body-features {
    display: flex;
  }

  .body-features li {
    flex-direction: column;
    padding: 10px;
    padding: 10px 10px 20px 10px;
  }

  .body-img-preview {
    padding: 0;
  }

  .body-slogan {
    text-align: center;
  }

  .body-ellipse-small {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 640px) {
  .hero-bg-right,
  .hero-bg-left {
    background: url(../img/image.png) center/cover no-repeat;
  }

  .sign-up {
    width: 400px;
  }
}

@media (max-width: 457px) {
  .hero-bg-right,
  .hero-bg-left {
    background: url(../img/image.png) center/cover no-repeat;
  }

  .hero-title {
    height: auto;
    padding: 1rem;
  }

  .hero-title-top {
    padding: 1rem;
  }

  .hero-img-bottom {
    display: none;
  }

  h1,
  h2 {
    font-size: 30px;
  }

  .btn-absolute-center {
    display: none;
  }

  .hero-preview {
    height: auto;
  }

  .sign-up {
    width: 300px;
  }

  .sign-up input {
    margin: 6px 0;
  }

  .hero-preview-img {
    margin: 10px 0 30px 0;
  }

  .btn-play {
    width: 60px;
    height: 60px;
  }

  .body-text-preview {
    padding: 10px;
  }

  .body-title-center {
    padding: 20px 0;
  }

  .body-item {
    padding: 0 0 30px 0;
  }

  .body-ellipse {
    max-width: 108px;
    max-height: 108px;
  }

  .body-text-left,
  .body-text-right {
    padding: 20px 0 0 0;
  }

  .body-title-left {
    padding: 0;
  }
}

@media (max-height: 376px) {
  .btn-absolute-center {
    display: none;
  }

  .hero-preview {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-title-end {
    align-items: flex-start;
  }

  .hero-heading {
    text-align: start;
  }

  .hero-title-end {
    max-width: 50%;
  }

  .hero-preview-img {
    margin: 30px;
  }

  .body-ellipse {
    max-width: 108px;
    max-height: 108px;
  }

  .body-ellipse-small {
    margin: 0 0 10px 0;
  }

  .body-title-left {
    padding: 0;
  }

  .body-item-preview {
    padding: 0 0px 20px 0px;
  }
}
